.navigation{
    
}

.navigationList{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    background: rgb(201, 202, 136);
}

.navigationLink{
    color: black;
    transition: color .3s;
}

.navigationLink:hover{
    color: rgb(50, 52, 128);
    transition: color .3s;
}